@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap);
@import "tailwindcss";

:root {
  --background: #8eb7de;
  --foreground: #1d1d1d;
}

@theme inline {
  /* Fonts */
  --font-title: "Quicksand", sans-serif;
  --font-paragraph: "Roboto", sans-serif;

  /* Shades */
  --color-dark: #1d1d1d;
  --color-dark-eighty: #1d1d1dcc;
  --color-dark-fourty: #1d1d1d66;
  --color-grey: #4d4d4d;
  --color-light: #fafafa;
  --color-bg-light: #fafafaeb;

  /* Colours */
  --color-primary-accent: #5a9dbe;
  --color-light-blue: #8eb7de;
  --color-dark-blue: #4184a5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Borders */
  --radius-xs: 6px;
  --radius-sm: 12px;
  --radius-md: 24px;
  --radius-lg: 36px;
  --radius-xl: 48px;

  /* Box-shadow */
  --shadow-primary: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  --shadow-mobile-nav: 0px 0px 24px -1px rgba(0, 0, 0, 0.2);
  --shadow-mobile-nav-links: 0px 0px 24px -1px rgba(0, 0, 0, 0.08);
  --drop-shadow-icon: 2px 2px 4px rgba(0, 0, 11, 0.16);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    color: var(--foreground);
    @apply font-title;
    letter-spacing: 0.08em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply sm:text-[32px] text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h6 {
    @apply text-[8px];
  }

  p {
    @apply font-paragraph;
  }

  button {
    @apply font-[600];
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom animations */
.animate-gradient-flow {
  background: linear-gradient(
    -45deg,
    rgba(142, 183, 222, 0.4),
    rgba(90, 157, 190, 0.4),
    rgba(255, 255, 255, 0.1),
    rgba(142, 183, 222, 0.4)
  );
  background-size: 5000% 5000%;
  animation: gradientFlow 8s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .animate-float-up-down {
  animation: floatUpDown 18s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0) rotateX(10deg) rotateY(5deg); 
  }
  50% {
    transform: translateY(-20px) rotateX(12deg) rotateY(7deg);
  }
  100% {
    transform: translateY(0) rotateX(10deg) rotateY(5deg); 
  }
} */
