@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap);
@import "tailwindcss";

:root {
  --background: #8eb7de;
  --foreground: #1d1d1d;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

@theme inline {
  /* Fonts */
  --font-title: "Quicksand", sans-serif;
  --font-paragraph: "Roboto", sans-serif;

  /* Shades */
  --color-dark: #1d1d1d;
  --color-dark-eighty: #1d1d1dcc;
  --color-dark-fourty: #1d1d1d66;
  --color-dark-sixteen: #1d1d1d29;
  --color-dark-eight: #1d1d1d14;
  --color-grey: #4d4d4d;
  --color-light: #fafafa;
  --color-bg-light: #fafafaeb;

  /* Colours */
  --color-primary-accent: #5a9dbe;
  --color-light-blue: #8eb7de;
  --color-lightest-blue: #cde4fa;
  --color-dark-blue: #4184a5;
  --color-like-red: #e70e0e;
  --color-add-green: #03a003;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ----- Habit Colours ----- */
  /* Fitness */
  --color-fitness-accent: #f46d0d;
  --color-fitness-accent-sixteen: #f46d0d29;
  --color-fitness-bg: #fcdcc4;
  --color-fitness-light: #fff9f5;
  --color-fitness-bar-bg: #feede2;
  --color-fitness-bar-grad-light: #f79b59;

  /* Sleep schedule */
  --color-sleepSchedule-accent: #3498db;
  --color-sleepSchedule-accent-sixteen: #3498db29;
  --color-sleepSchedule-bg: #cbe5f6;
  --color-sleepSchedule-light: #f5fbff;
  --color-sleepSchedule-bar-bg: #e5f2fa;
  --color-sleepSchedule-bar-grad-light: #79bbe7;

  /* Learning */
  --color-learning-accent: #9b59b6;
  --color-learning-accent-sixteen: #9b59b629;
  --color-learning-bg: #e5d4ec;
  --color-learning-light: #fbf8fc;
  --color-learning-bar-bg: #f2eaf6;
  --color-learning-bar-grad-light: #bd91cf;

  /* Reading */
  --color-reading-accent: #8e44ad;
  --color-reading-accent-sixteen: #8e44ad29;
  --color-reading-bg: #e6d3ee;
  --color-reading-light: #fbf8fc;
  --color-reading-bar-bg: #f2e9f6;
  --color-reading-bar-grad-light: #be8ed2;

  /* Hydration */
  --color-hydration-accent: #5dade2;
  --color-hydration-accent-sixteen: #5dade229;
  --color-hydration-bg: #cbe5f6;
  --color-hydration-light: #f6fbfd;
  --color-hydration-bar-bg: #e5f2fa;
  --color-hydration-bar-grad-light: #a4d1ef;

  /* bedHygiene */
  --color-bedHygiene-accent: #95a5a6;
  --color-bedHygiene-accent-sixteen: #95a5a629;
  --color-bedHygiene-bg: #dee3e3;
  --color-bedHygiene-light: #f9fafa;
  --color-bedHygiene-bar-bg: #eef1f1;
  --color-bedHygiene-bar-grad-light: #c2cbcc;

  /* breakfast */
  --color-breakfast-accent: #f39c12;
  --color-breakfast-accent-sixteen: #f39c1229;
  --color-breakfast-bg: #fce7c5;
  --color-breakfast-light: #fffbf5;
  --color-breakfast-bar-bg: #fef3e2;
  --color-breakfast-bar-grad-light: #f7bc5f;

  /* writing */
  --color-writing-accent: #7f8c8d;
  --color-writing-accent-sixteen: #7f8c8d29;
  --color-writing-bg: #dfe2e2;
  --color-writing-light: #fafafa;
  --color-writing-bar-bg: #eff0f1;
  --color-writing-bar-grad-light: #abb4b5;

  /* diet */
  --color-diet-accent: #2ecc71;
  --color-diet-accent-sixteen: #2ecc7129;
  --color-diet-bg: #cdf4dd;
  --color-diet-light: #f7fdf9;
  --color-diet-bar-bg: #e6f9ee;
  --color-diet-bar-grad-light: #6dde9d;
  /* ----- Habit Colours End ----- */

  /* Borders */
  --radius-xs: 6px;
  --radius-sm: 12px;
  --radius-md: 24px;
  --radius-lg: 36px;
  --radius-xl: 48px;

  /* Box-shadow */
  --shadow-primary: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  --shadow-mobile-nav: 0px 0px 24px -1px rgba(0, 0, 0, 0.2);
  --shadow-mobile-nav-links: 0px 0px 24px -1px rgba(0, 0, 0, 0.08);
  --drop-shadow-icon: 2px 2px 4px rgba(0, 0, 11, 0.16);

  /* Milestone bar box-shadows */
  --drop-shadow-fitness-bar: 0px 0px 4px rgba(244, 110, 13, 1);
  --drop-shadow-sleepSchedule-bar: 0px 0px 4px rgba(52, 152, 219, 1);
  --drop-shadow-learning-bar: 0px 0px 4px rgba(155, 89, 182, 1);
  --drop-shadow-reading-bar: 0px 0px 4px rgba(142, 68, 173, 1);
  --drop-shadow-hydration-bar: 0px 0px 4px rgba(93, 173, 226, 1);
  --drop-shadow-bedHygiene-bar: 0px 0px 4px rgba(149, 165, 166, 1);
  --drop-shadow-breakfast-bar: 0px 0px 4px rgba(243, 156, 18, 1);
  --drop-shadow-writing-bar: 0px 0px 4px rgba(127, 140, 141, 1);
  --drop-shadow-diet-bar: 0px 0px 4px rgba(46, 204, 113, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  body {
    color: var(--foreground);
    @apply font-title;
    letter-spacing: 0.08em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply sm:text-[32px] text-2xl;
  }

  h2 {
    @apply sm:text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-xs sm:text-base;
  }

  h6 {
    @apply text-[8px];
  }

  p {
    @apply font-paragraph leading-normal;
  }

  button {
    @apply font-[600];
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom animations */
.animate-gradient-flow {
  background: linear-gradient(
    -45deg,
    rgba(142, 183, 222, 0.4),
    rgba(90, 157, 190, 0.4),
    rgba(255, 255, 255, 0.1),
    rgba(142, 183, 222, 0.4)
  );
  background-size: 5000% 5000%;
  animation: gradientFlow 8s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .animate-float-up-down {
  animation: floatUpDown 18s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0) rotateX(10deg) rotateY(5deg); 
  }
  50% {
    transform: translateY(-20px) rotateX(12deg) rotateY(7deg);
  }
  100% {
    transform: translateY(0) rotateX(10deg) rotateY(5deg); 
  }
} */
